autopep8==1.5.*
ipyleaflet==0.13.*
ipywidgets==7.5.*
jupyterlab-git==0.23.*
jupyter_contrib_nbextensions==0.5.*
nbdime==2.1.*
xeus-python==0.8.*

awscli==1.18.*
boto3==1.13.*
google-api-python-client==1.7.*
mlflow==1.8.*
psycopg2==2.8.*
pyarrow==0.17.*
pygraphviz==1.6
pylint==2.5.*
pysftp==0.2.*
pyspark==2.4.*
pytest==5.4.*
pytz==2020.*
PyYAML==5.3.*
requests==2.23.*
s3fs==0.4.*
statsmodels==0.11.*
transitions==0.7.*