autopep8
ipyleaflet
ipywidgets
jupyterlab-git
jupyter_contrib_nbextensions
nbdime
xeus-python

awscli
boto3
google-api-python-client
matplotlib
mlflow
numpy
plotly
psycopg2
pyarrow
pygraphviz
pylint
pysftp
pyspark
pytest
pytz
PyYAML
requests
s3fs
scikit-learn
seaborn
statsmodels
sqlalchemy
tenacity
transitions